/*style css*/

/* color pallete ------
#32292F rgb(50,41,47) JetPurple
#B8C4BB rgb(184,196,187) FadeBlue 
#CA3CFF rgb(202,60,255) Power Purple
#F0F7F4 rgb(240,247,244) Bluewhite
#70ABAF rgb(112,171,175) GreyBlue
*/

/*----------- font
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; ---*/


/* ----------- Media queries -------------
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

/* Global settings*/
* {
    margin:0;
    padding: 0;
}

html, body {
    height:100%;
    width:100%;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}


/* Images */
.rnd-img {
    width: 10em;
    border-radius: 50%
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* NavBar*/
.navbar h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    
}

.navbar {
    padding: .8rem;
    height:;
}

.navbar-nav li {
    padding-right: 1rem
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-caption {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}


@media only screen and (min-width: 650px) {
.carousel-caption h1 {
    font-family: 'Merriweather', serif; 
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;
    
}

.carousel-caption h3 {
    font-size: 120%;
}
}
@media only screen and (max-width: 649px) {
    .carousel-caption h1 {
    font-family: 'Merriweather', serif; 
    font-size: 150%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;
    
    }

    .carousel-caption h3 {
    font-size: 80%;
    
    }
    
    .carousel-caption button {
        height: %;
        font-size: .8em
    }

}

@media only screen and (max-width: 387px){
    .carousel-caption h1 {
    font-family: 'Merriweather', serif; 
    font-size: 120%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;
    
    }

    .carousel-caption h3 {
    font-size: 0px;
    
    }
    
    .carousel-caption button {
        height: %;
        font-size: .8em
    }
}

/*site not intended to show this small*/
@media only screen and (max-width: 300px){
    * {
        opacity: 0;
    }
}