/*style css*/

/* color pallete ------
#32292F rgb(50,41,47) JetPurple
#B8C4BB rgb(184,196,187) FadeBlue 
#CA3CFF rgb(202,60,255) Power Purple
#F0F7F4 rgb(240,247,244) Bluewhite
#70ABAF rgb(112,171,175) GreyBlue
*/

/*----------- font
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; ---*/


/* ----------- Media queries -------------
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

/* Global settings*/
* {
    margin:0;
    padding: 0;
}